
h1 {
  font-size: 60px;
}
p {
  border: 2px solid powderblue;
  padding: 10px
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
div {
  background-image: url('example_img_girl.jpg');
  background-repeat: no-repeat;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  border-collapse: collapse;
}
th {
  text-align: left;
}
td {
  text-align: center;
}
table {
  border-spacing: 5px;
}
#t01 {
  background-color: tomato
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: powderblue;
}
.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.main {
  text-align: center;
}
.note{
  font-size : 120%;
  color: red;
}
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
